/*2a6099*/
* {
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
body {
    background: linear-gradient(white, gray, black);
}

.containers {
    scroll-snap-align: start;
}
/* animation */
    /* project */
        .p-b:hover {
            transform: scale(1.05);
            box-shadow: 5px 5px 0 #2a6099, 0 0 10px #ff8000;
            opacity: 100%;
        }
        .p-b:hover .p-pic {
            border-radius: 10px;
        }
    /* about */
        .s-icons:hover {
            background-color: #ff8000;
        }
/*JavaScript_Dark-mode */
.dark {
    background: linear-gradient(gray, black); 
}
.ds1 {
    color: #2a6099;
    text-shadow: 0 0 2px #ff8000;
}
.p-h1 {
    text-shadow: 0 0 5px #ff8000;
    box-shadow: 0 0 5px #ff8000;
}
.dbox {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #ff8000;
}
.dbox2 {
    box-shadow: 0 0 10px #ff8000;
    background-color: rgba(0, 0, 139, 0.4);
    color: gray;
}
.dabout {
    box-shadow: 0 0 25px #ff8000;
    border-radius: 10px;
} 
.dbutton {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}
.dicons {
    background-color: #2a6099;
}