/*2a6099*/
* {
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
body {
    background: linear-gradient(white, gray, black);
}

.containers {
    scroll-snap-align: start;
}
/* animation */
    /* homw */
        /* profile */
        @keyframes mypic {
            0% {
                opacity: 0%;
            }
            100% {
                opacity: 100%;
            }
        }
        /* s1 */
        @keyframes grays {
            from {
                opacity: 0%;
                left: 300px;
            }
            to {
                opacity: 100%;
                left: 0px;
            }
        }
        @keyframes colored {
            0% {
                opacity: 0%;
                scale: 1;
            }
            25% {
                opacity: 25%;
                scale: 1.25;
            }
            50% {
                opacity: 25%;
                scale: 1.025;
            }
            100% {
                opacity: 100%;
                scale: 1;
            }
        }
    /* nav */
    .nav-btn:hover {
        border: 1px black solid;
    }
    @keyframes mynav {
        from {
            opacity: 0;
            background-color: #4D4DFF;
        }
        to {
            opacity: 1;
            background-color: rgba(255, 255, 255, 0);
        }
    }
    @keyframes mynav-button {
        from {
            opacity: 0;
            right: 10000%;
        }
        to {
            opacity: 1;
            right: 0%;
        }
    }
    @keyframes mynav-darkbutton {
        0% {
            opacity: 0%;
        }
        25% {
            opacity: 25%;
            background-color: black;
        }
        50% {
            opacity: 50%;
            background-color: black;
        }
        75% {
            opacity: 75%;
            background-color: black;
        }
        100% {
            opacity: 100%;
        }
    }
    /* project */
        .p-b:hover {
            transform: scale(1.05);
            box-shadow: 5px 5px 0 #2a6099, 0 0 10px #ff8000;
            opacity: 100%;
        }
        .p-b:hover .p-pic {
            border-radius: 10px;
        }
    /* about */
        .s-icons:hover {
            background-color: #ff8000;
        }


/*JavaScript_Dark-mode */
    /* body */
    .dark {
        background: linear-gradient(gray, black); 
    }
    /* home */
    .dname {
        color: #F79548;
        text-shadow: 0 0 3px #FF9E3D ;
    }
    .dskill {
        color: #4D4DFF;
        text-shadow: 0 0 3px #4D4DFF;
    }
    .ds1 {
        color: #E2E6E6;
        text-shadow: 0 0 1px gray;
    }
    /* project */
    .p-h1 {
        text-shadow: 0 0 5px #ff8000;
        box-shadow: 0 0 5px #ff8000;
    }
    /* about */
    .dbox {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px #ff8000;
    }
    .dbox2 {
        box-shadow: 0 0 10px #ff8000;
        background-color: rgba(0, 0, 139, 0.4);
        color: gray;
    }
    .dabout {
        box-shadow: 0 0 25px #ff8000;
        border-radius: 10px;
    } 
    .dbutton {
        background-color: black;
        color: white;
        box-shadow: 0 0 10px white;
    }
    .dicons {
        background-color: #2a6099;
    }